name: Flutter Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          # Version එක ඕනෑම එකක් (any) ලෙස දී ස්ථාවර චැනලය තෝරන්න
          flutter-version: 'any' 
          channel: 'stable'

      - name: Install dependencies
        # මෙතන --force භාවිතයෙන් dependencies බලහත්කාරයෙන් ගලපමු
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK Result
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: build/app/outputs/flutter-apk/app-release.apk
