name: Flutter Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # v4 වලට අප්ඩේට් කර ඇත

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK Result
        uses: actions/upload-artifact@v4 # මෙතන v4 ලෙස වෙනස් කර ඇත
        with:
          name: app-release
          path: build/app/outputs/flutter-apk/app-release.apk
